body {
  background-color: var(--primaryColor);
}
#homeSection {
  width: 100%;
  /* background-color: var(--primaryColor); */
  padding-left: 200px;
  padding-right: 200px;
}
.homeContent {
  font-family: var(--RalewayFontFamily);
  position: relative;
  transform: translateY(50%);
  top: -50%;
}
p {
  margin: 0;
}
.heading {
  font-weight: 200;
  font-size: 55px;
  color: var(--inactiveLinkColor);
}
span {
  /* font-weight: 500; */
  color: var(--secondaryColor);
}
.description {
  font-size: 18px;
  font-weight: 200;
  max-width: 850px;
  color: var(--secondaryColor);
  font-family: var(--RalewayFontFamily);
  line-height: 35px;
  margin-top: 60px;
}
.description > p {
  margin: 0;
}
.roundLinks {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  bottom: 50px;
  right: 50px;
}
